<div class="main">
  <h1>Hello, {{ title }}</h1>
  <table border="1" style="margin: auto; width: 90%;">
    <tbody>
      <tr>
        <td colspan="2" style="height: 200px; vertical-align: top;"><app-advertise></app-advertise></td>
      </tr>
      <tr>
        <td style="height: 200px; width: 50%; vertical-align: top;"><app-news></app-news></td>
        <td style="height: 200px; width: 50%; vertical-align: top;"><app-interesting></app-interesting></td>
      </tr>
      <tr>
        <td colspan="2" style="height: 200px; vertical-align: top;">Member Management<br/>
          <a routerLink="list-persons">Member List</a><br/>
          <a routerLink="add-person">Add New Member</a><br/>
          <router-outlet />
        </td>
      </tr>
    </tbody>
  </table>
</div>


<router-outlet />
